Source: ros-kinetic-create-gazebo-plugins
Section: misc
Priority: extra
Maintainer: Nate Koenig <nate@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-create-node, ros-kinetic-gazebo-ros, ros-kinetic-geometry-msgs, ros-kinetic-nav-msgs, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Homepage: http://ros.org/wiki/create_gazebo_plugins
Standards-Version: 3.9.2

Package: ros-kinetic-create-gazebo-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-create-node, ros-kinetic-gazebo-ros, ros-kinetic-geometry-msgs, ros-kinetic-nav-msgs, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Description: Gazebo plugins for the iRobot Create
